<div *ngIf="!isUserLoggedIn" class="navbar"> 
  <mat-toolbar class="custom-toolbar"> 
    <span class="navbar-brand">Task Manager</span>  
    <span class="spacer"></span>  
    <button mat-button routerLink="/register" routerLinkActive="active">Register</button>  
    <button mat-button routerLink="/login" routerLinkActive="active">Login</button> 
  </mat-toolbar>
</div> 

<div *ngIf="isUserLoggedIn" class="navbar">
  <mat-toolbar class="custom-toolbar"> 
    <span class="navbar-brand">Task Manager</span> 
    <span class="spacer"></span>  
    <button mat-button routerLink="/user/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLink="/user/task" routerLinkActive="active">New Task</button> 
    <button mat-button (click)="logout()" routerLink="/login" routerLinkActive="active">Logout</button> 
  </mat-toolbar>
</div> 

<router-outlet></router-outlet>