<div class="container">

    <mat-card>
        <mat-card-header>
            <mat-card-title class="card-title">Create a New Task</mat-card-title>
        </mat-card-header>

        <mat-card-content class="card-content">
            <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
                <!-- Title Field -->
                <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Title</mat-label>
                    <input matInput type="text" placeholder="Title" formControlName="title" required />
                    <mat-error *ngIf="taskForm.get('title')?.hasError('required')">Task name is required.</mat-error>
                </mat-form-field>
                <!-- Description Field -->
                <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Description" formControlName="description" ></textarea>
                    <mat-error *ngIf="taskForm.get('description')?.hasError('required')">Description is required.</mat-error>
                </mat-form-field>
                <!-- Status Field -->
                <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status" required>
                        <mat-option value="TO DO">To Do</mat-option>
                        <mat-option value="IN PROGRESS">In Progress</mat-option>
                        <mat-option value="DONE">Done</mat-option>
                    </mat-select>
                    <mat-error *ngIf="taskForm.get('status')?.hasError('required')">Status is required.</mat-error>
                </mat-form-field>
                <!-- Submit btn -->
                <button mat-raised-button color="primary" type="submit">Create Task</button>
            </form>
        </mat-card-content>
    </mat-card>

</div>